<%= error_messages_for @detail %>

<%= form_for(@detail,
    :action => (request.params['action'] == 'edit' ? resource(@detail) : resource(:details)),
    :class => 'detail-form') do %>
  <p><%= text_field :name, :label => 'Name:', :size => '50' %></p>
  <p><%= text_area :content, :rows => '30', :cols => '80' %></p>
  <p><%= select :content_type, :label => 'Content Type:', :collection => @detail.content_types %></p>
  <p>
    <%= submit 'Save' %> -
    <%= link_to 'Cancel', request.params['action'] == 'edit' ? resource(@detail) : url(:root) %>
  </p>
<% end =%>
