<% title h(@detail.name) %>

<%= partial 'detail', :detail => @detail %>

<p>
  Fetch this data:
  <pre><code>$ curl <%= absolute_url(:detail, @detail, :format => @detail.content_type) %></code></pre>
</p>

<% if @detail.from_url %>
  <br />
  <p>
    This response is cached from a remote source,
    <%= link_to 'Update It', resource(@detail, :update_cached) %>.
  </p>
  <p>
    Data was last fetched on <%= time_abbr(@detail.cached_at) %>.<br />
    Remote URL: <code><%=h @detail.from_url %></code>
  </p>
<% end %>

<p>
  <%= delete_button(@detail, nil, :class => 'delete-link') %>
</p>
